body {
    margin: 0;
    padding: 0;
}

.app{
    display: relative;
    height: fit-content;
}
.nav {
    /* position: -webkit-sticky;
    position: sticky; */
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 50px;
    list-style: none;
    z-index: 100;
    border-style: none;
}

#nav-item{
    position: relative;
    flex-grow: 1;
}

.nav-btn{
    background-color: #fff;
    color: #111;
    width: 100%;
    font-size: 15px;
    border-top: 0;
    border-left : 0;
    border-bottom: 1px solid #111;
    border-right: 1px solid #111;
}

.on .nav-btn{
    background-color: slategrey;
    color: #fff;
}

.nav > li:last-child .nav-btn{
    border-right: none;
}
.container{
    position:absolute;
    top: 20px;
}
.content{
    display: flex;
    width:100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
}

.container > div:nth-child(1){
    background-color: pink;
}

.container > div:nth-child(2){
    background-color: plum;
}

.container > div:nth-child(3){
    background-color: powderblue;
}
.container > div:nth-child(4){
    background-color: purple;
}
.container > div:nth-child(5){
    background-color: rebeccapurple;
}
.container > div:nth-child(6){
    background-color: salmon;
}
.container > div:nth-child(7){
    background-color: sandybrown;
}
.container > div:nth-child(8){
    background-color: skyblue;
}