*,
*::after,
*::before {
  box-sizing: border-box;
}

.boxoffice button {
  border: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
}
.boxoffice button:hover{
  border: 1px solid black;
}
.left_btn{
  position: absolute;
  left:0;
  top: 150px;
  margin-left: 20px;
}
.right_btn{
  position: absolute;
  right: 0;
  top: 150px;
  margin-right: 20px;
}

/*grid방식으로 포스터 하나씩의 위치를 정해 놓는다 */
.boxoffice_list {
  display: grid;
  margin-inline-start: 200px;
  margin-inline-end: 200px;

  grid-template-columns: repeat(5,200px);
  grid-template-rows: (2,150px);
  
}

.p0{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.p1{
  grid-column: 2 / 3;
  grid-row:  1 / 2;
}
.p2{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.p3{
  grid-column: 4 / 5;
  grid-row: 1 / 2l
}
.p4{
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}
.boxoffice_list img{
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 300px;
  position: absolute;
  
  
}